        
    <link rel="stylesheet" href="/css/login.css">
    <div class="wrapper">
        <div class="container">
            <h1>Welcome</h1>
            
            <form method="post" action="/login/" >
                <input type="hidden" name="token" value="<?php echo $_SESSION['token']; ?>">

                <input type="text" placeholder="<?php print __('Username');?>" name="user">
                <input type="password" placeholder="<?php print __('Password');?>" name="password">

                
                <button type="submit" id="login-button"><?php print __('Log in');?></button>
                <br/>
                
                <span style="padding:0 0 0 14px;">
                    <a tabindex="5" href="/reset/">
                        <?php print __('forgot password');?>
                    </a>
                </span>
            </form>
            


            <div class="login-bottom">
                <div style="height:20px"><?php if (isset($ERROR)) echo $ERROR ?></div>
            </div>

        </div>
        
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    </body>
</html>
